.card {
	width: 19rem;
	height: 16rem;
	margin: 2vh 1vw 2vh 1vw;
}

.double {
	width: 38rem;
}

.card:hover:before {
	opacity: 1;
}
.card:hover .info {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.card:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
}
.card img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 15px;
}
.info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: 0.5s;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info-bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	.double {
		width: 90vw;
		height: 100vw;
	}
	.card {
		width: 90vw;
		height: 100vw;
	}
}

.section {
	display: flex;
	color: white;
}
.big {
	height: 50vh;
}
.small {
	height: 50vh;
}

.content-details {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.content {
	position: relative;
	width: 100%;
}

.content .content-overlay {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
	opacity: 1;
}

.content-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	padding: 20px;
}

.content:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}

.content-details h3 {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.content-details p {
	color: #fff;
	font-size: 0.8em;
}

.fadeIn-bottom {
	top: 80%;
}
