.card {
	width: 19rem;
	height: 16rem;
	margin: 2vh 1vw 2vh 1vw;
}

.double {
	width: 38rem;
}
.card:hover:before {
	opacity: 1;
}
.card:hover .info {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
.card:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;

	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
}
.card img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 15px;
}
.info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
	-webkit-transition: 0.5s;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info-bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 600px) {
	&.double,
	&.card {
		width: 90vw;
		height: 100vw;
	}
}
