.Container {
	min-height: 500px;
	height: 100vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Container-Content {
	padding: 20%;
}

.Container-Content a,
.Container-Content p {
	font-size: 2em;
	color: #fff;
}
.Container-Content a {
	text-decoration: underline;
}

.Container-Content a:hover {
	color: #ff6a00;
}
.heading {
	margin-bottom: 2%;
}

.heading h1,
h2,
p {
	display: inline;
}

.heading h1 {
	text-shadow: 2px 2px 0 #ac0857;
}

@media screen and (max-width: 600px) {
	.Container-Content {
		padding: 10%;
	}
	.Container-Content a,
	.Container-Content p {
		font-size: 1.5em;
	}
}
