.footer {
	padding: 5vh 15vw;
}
.part p {
	font-size: 1.5em;
}
.column a {
	font-size: 1em;
}
.footer-content {
	display: flex;
	justify-content: space-around;
}

.title {
	font-weight: bold;
}
.column {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 600px) {
	.footer {
		padding: 45px 25px;
	}
	.footer-content {
		flex-direction: column;
	}
	.part {
		margin-top: 20px;
	}
}
